html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSansSemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSansSemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMedium.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}


:root {
    --color-dark: #2F3754;
    --color-light: #808080;
    --color-accent: #5d71dd;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2F3754;

}


.container {
    /* max-width: 1234px; */
    width: 1244px;
    padding: 0 var(--gutter);
    margin-left: auto;
    margin-right: auto;
}

.content-footer {
    flex: 1 0 auto;
}

.footer {
    margin-top: 190px;
    width: 100%;
    padding: 50px 0 60px;
    flex-shrink: 0;
    background-color: #2F3754;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.btn,
a.btn {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    background-color: #B9CC4C;
    font-size: 17px;
    font-weight: 600;
    border-radius: 30px;
    transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
    opacity: 0.8;
    color: #FFFFFF;
}


.btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}

@media screen and (max-width: 380px) {
    .container {
        max-width: 380px;
        display: flex;
        
    }
    
}