.comment {
	min-height: 611px;
	padding-top: 190px;
}

.comment-heading {
	margin-left: 160px;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 40px;
	line-height: 110%;
}

.img-steps {
	margin-left: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 340px);
	column-gap: 60px;
}


.user-image {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 20px;
}

.user-name {
	padding-left: 6px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	margin-bottom: 10px;
}

.user-comment {
	margin-bottom: 20px;
}

.user-data {
	color: #979BA9;

}

@media screen and (max-width: 380px) {
	.user-image {
		margin-left: 15px;
		max-width: 340px;
	}
	.img-steps {
		margin: 0 auto;
		max-width: 340px;
		justify-content: center;
	}
	.comment {
		max-width: 340px;
		justify-content: center;
	}
	.user-data {
		margin-bottom: 30px;
	}

	.comment-heading {
		margin-left: 15px;
	}
    
}